[Unit]
Description=Memory Overcommitment Manager Daemon
After=libvirtd.service

[Service]
Type=forking
PIDFile=/var/run/momd.pid
User=root
Group=root
ExecStart=/usr/sbin/momd -c /etc/momd.conf -d --pid-file /var/run/momd.pid
TimeoutSec=60
Restart=on-abort

[Install]
