.idea
config.log
config.status
configure
install-sh
missing
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.rpath
config.sub
ABOUT-NLS
py-compile

*.pyc
*.pyo
*.spec
*.swp
*.tar.gz
*.tmp
*~
__pycache__
tmp.*

tests/run_tests_local.sh
