---
name: CI
on: [push, pull_request]
env:
  EXPORT_DIR: exported-artifacts
jobs:
  build:
    runs-on: ubuntu-latest
    name: rpm-${{ matrix.distro }}
    container: quay.io/ovirt/buildcontainer:${{ matrix.distro }}
    strategy:
      matrix:
        distro: [el8stream, el9stream]
    steps:
      - name: Prepare env
        run: mkdir -p ${PWD}/${EXPORT_DIR}/
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Check patch
        run: ./automation/check-patch.sh
      - name: Upload artifacts
        uses: ovirt/upload-rpms-action@v1
        with:
          directory: ${{ env.EXPORT_DIR }}
          distro: ${{ matrix.distro }}
